



SANITY_PROJECT_ID=

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production


EMAIL_PASS=oqtesnerrwimfqvo
EMAIL_USER=latzwebresources@gmail.com
CLIENT_EMAIL=jordan@latzwebdesign.com



SANITY_API_TOKEN=